<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.mirobotic.teminavigation">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".config.MyApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".config.AlarmBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tomergoldst.timekeeper.intent_action.RECEIVE_ALARMS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.robotemi.sdk.metadata.ACTIONS"
            android:value="home.welcome, home.dance, home.sleep" />
        <meta-data
            android:name="com.robotemi.sdk.metadata.KIOSK"
            android:value="true" />
        <meta-data
            android:name="@string/metadata_open_without_internet"
            android:value="true" />
        <meta-data
            android:name="@string/metadata_override_nlu"
            android:value="false" />
        <meta-data
            android:name="@string/metadata_override_stt"
            android:value="false" />
        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.face_recognition, com.robotemi.permission.map, com.robotemi.permission.settings, com.robotemi.permission.sequence" />

    </application>

</manifest>